mixin addDateField(field, editFlag)
    - var item = editFlag ? 'editedItem' : 'item'
    .form-group.row
        .col
            label(for='#{field.name}') #{field.title}
            
            md-datepicker(
                placeholder="Select a date...",
                id="#{field.name}",
                ng-model="$ctrl.#{item}.#{field.name}",
                md-open-on-focus,
                autocomplete='off',
                required=field.required
                )      