mixin addNumberField(field, editFlag)
    - var item = editFlag ? 'editedItem' : 'item'
    .form-group.row
        .col-2
            label(for='#{field.name}') #{field.title}
            input.form-control(
                id="#{field.name}",
                type='number', 
                ng-model='$ctrl.#{item}.#{field.name}', 
                autocomplete='off')