mixin addStringField(field, editFlag)
    - var item = editFlag ? 'editedItem' : 'item'
    .form-group
        label(for='#{field.name}') #{field.title}
        input.form-control(
            id="#{field.name}", 
            type='text', 
            ng-model='$ctrl.#{item}.#{field.name}', 
            autocomplete='off', 
            required=field.required
            )