doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/index.css')
  body
    header
      h1= title
      p Welcome to #{title}
      navigation
        .link
          a(href="/admin") Admin
        .link
          a(href="/login") Login

    main
      if contentBlocks !== undefined && contentBlocks.length !== 0
        each block in contentBlocks
          section
            h4= `header: ${block.header}`
            h5= `menuHeader: ${block.menuHeader}`
            p= `body: ${block.body}`
            p= `visible: ${block.visible}`
            p= `order: ${block.order}`
            p= `created: ${block.created}`
            p= `updated: ${block.updated}`
