extends ../adminLayout

block content
    div.page-header
        h1 Список абитуриентов
    div(ng-app="pupilApp", ng-controller="pupilController as app")
        div(grid-data, grid-options="app.gridOptions", grid-actions="app.gridActions", server-pagination="true")
            div.row
                .col.col-md-2
                    span.items {{paginationOptions.totalItems}} items total
                .col.col-md-4
                    button.btn.btn-primary(type="button", ng-csv="app.exportCSV()", csv-header="app.scvHeader", filename="{{app.getFileName()}}") CSV-export
                    | &nbsp;
                    a.btn.btn-primary(href="/admin/pupils/api/list-export.json", target="_blank") JSON-export
                    | &nbsp;
                    button.btn.btn-warning(type="button", ng-click="app.seedRecommended()") Автоматическое зачисление

                .col.col-md-4

                .col.col-md-6.text-right
                    form.form-inline.pull-right.margin-bottom-basic
                        .form-group
                            grid-pagination.pagination-sm(max-size="5", boundary-links="true", total-items="paginationOptions.totalItems", ng-model="paginationOptions.currentPage", ng-change="reloadGrid()", items-per-page="paginationOptions.itemsPerPage")
                        .form-group.items-per-page
                            label(for="itemsOnPageSelect1") Items per page:
                            select#itemsOnPageSelect1.form-control.input-sm(ng-init="paginationOptions.itemsPerPage = '10'", ng-model="paginationOptions.itemsPerPage", ng-change="reloadGrid()")
                                option 2
                                option 30
                                option 50
                                option 100
                                option 500
                                option 1000
                                option 2000
                                option 3000
            .panel.panel-default
                .panel-body
                    div.row
                        .col-md-2
                            .form-group
                                label Поиск по фамилии
                                input.form-control.order-search-box(type="text",
                                                                    placeholder="Поиск по фамилии"
                                                                    ng-change="filter()"
                                                                    ng-model="firstName"
                                                                    filter-by="firstName"
                                                                    filter-type="text")
                        .col-md-2
                            .form-group
                                label Поиск по email
                                input.form-control.order-search-box(type="text",
                                                                    placeholder="Поиск по email"
                                                                    ng-change="filter()"
                                                                    ng-model="email"
                                                                    filter-by="email"
                                                                    filter-type="text")
                        .col-md-2
                            .form-group
                                label Фильтр профиля
                                select.form-control.order-search-box(placeholder="Фильтр профиля",
                                                                    ng-change="filter()",
                                                                    ng-model="profile",
                                                                    filter-by="profile",
                                                                    filter-type="select")
                                    option(value="") Все профили
                                    option(ng-repeat="option in app.profileOptions track by $index",
                                        value="{{option._id}}") {{option.name}}
                        .col-md-2
                            .form-group
                                label Фильтр статуса
                                select.form-control.order-search-box(placeholder="Фильтр статуса",
                                                                        ng-change="filter()",
                                                                        ng-model="status",
                                                                        filter-by="status",
                                                                        filter-type="select")
                                    option(value="") Все статусы
                                    option(ng-repeat="option in app.statusOptions track by $index",
                                            value="{{option.name}}") {{option.name}}
                        .col-md-2
                            .form-group
                                label Статус экзамена
                                select.form-control.order-search-box(placeholder="Статус экзамена",
                                                                        ng-change="filter()",
                                                                        ng-model="examStatus",
                                                                        filter-by="examStatus",
                                                                        filter-type="select")
                                    option(value="") Все статусы
                                    option(ng-repeat="(key, value) in app.examStatuses track by $index",
                                            value="{{key}}") {{value}}                    
                        .col-md-2
                            .form-group.has-error
                                label.control-label Поиск дупликатов
                                select.form-control.order-search-box(placeholder="Поиск дупликатов",
                                                                        ng-change="filter()",
                                                                        ng-model="duplicates",
                                                                        filter-by="duplicates",
                                                                        filter-type="select")
                                    option(value="") Поиск дупликатов
                                    option(value="false") Off
                                    option(value="true") On
                        .col-md-2
                            .form-group
                                label.control-label Фильтр зачисленных
                                select.form-control.order-search-box(placeholder="Фильтр зачисленных",
                                                                        ng-change="filter()",
                                                                        ng-model="recommended",
                                                                        filter-by="recommended",
                                                                        filter-type="select")
                                    option(value="") Все
                                    option(value="false") В пролёте
                                    option(value="true") Зачисленные            

            table.table.table-hover.table-striped
                thead
                    tr
                        th #&nbsp;
                        th.sortable(sortable="firstName") firstName&nbsp;
                        th.sortable(sortable="lastName") lastName&nbsp;
                        th.sortable(sortable="parentName") parentName&nbsp;
                        th.sortable(sortable="email") email&nbsp;
                        th.sortable(sortable="phone") телефон&nbsp;
                        th.sortable(sortable="region") region&nbsp;
                        th.sortable(sortable="night") ВЛ&nbsp;
                        th.sortable(sortable="distant") ДК&nbsp;
                        th.sortable(sortable="status") status&nbsp;
                        th.sortable(sortable="created") created&nbsp;
                        th.sortable(sortable="profile") profile&nbsp;
                        th.sortable(sortable="needBel") Бел.яз&nbsp;
                        th.sortable(sortable="requestImg") Есть картинка&nbsp;
                        th.sortable(sortable="passOlymp") БЭ&nbsp;
                        th.sortable(sortable="exam1") Э-1&nbsp;
                        th.sortable(sortable="exam2") Э-2&nbsp;
                        th.sortable(sortable="sum") Сумма&nbsp;
                        th.sortable(sortable="recommended") Зачислен&nbsp;
                        th.sortable(sortable="examStatus") Экз-статус&nbsp;
                        th
                tbody
                    tr(grid-item)
                        td {{$index + 1}}
                        td {{item.firstName}} 
                        td {{item.lastName}}
                        td {{item.parentName}}
                        td {{item.email}}
                        td(ng-class="item.codeValid ? '' : 'text-danger'")
                           | {{item.phone}}
                        td {{item.region}}
                        td {{item.night}}
                        td {{item.distant}}
                        td {{item.status}}
                        td {{item.created | date:'dd-MM-yy HH:mm:ss'}}
                        td {{item.profile.name}}
                        td {{item.needBel}}
                        td {{!!item.requestImg}}
                        td {{item.passOlymp ? 'БЭ' : ''}}
                        td
                            span(ng-if='!app.isEditMode1 || item.passOlymp') {{item.exam1 === -2 ? 'н' : item.exam1}}
                            input.form-control(type='number', ng-if='app.isEditMode1 && !item.passOlymp', ng-model="item.exam1")
                        td
                            span(ng-if='!app.isEditMode2 || item.passOlymp') {{item.exam2 === -2 ? 'н' : item.exam2}}
                            input.form-control(type='number', ng-if='app.isEditMode2 && !item.passOlymp', ng-model="item.exam2")
                        td {{item.sum}}
                        td {{item.recommended}}
                        td {{app.examStatuses[item.examStatus || '0']}}
                            br(ng-if='item.audience1 || item.audience2')
                            span(ng-if='item.audience1') 1
                            span(ng-if='item.audience2') 2
                        td
                            a(ng-href="{{'/admin/pupils/edit/' + item._id + app.location.path().replace('/', '?')}}") Edit

block scripts
    include ../stuff/adminPupilScriptBlock
    include pupilApp